.main {
  margin: 0 auto;
}

.character {
  font-size: 6em;
  min-height: 50vh;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: #BEBABE;
}

/* button styling */
.transition-button {
  /* aesthetics */
  color: #BEBABE;
  background: #5F624F;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1rem;
  border: solid 2px #8A8E76;
  border-radius: 15px;
  /* placement */
  padding: 15px 10px;
  overflow: hidden;
  position: relative;
  /* animation */
  transition: color .15s;
  z-index: 1;
}

.transition-button:after {
  position: absolute;
  top: -100%; 
  left: 0;
  height: 100%;
  background: #8A8E76;
  content: "";
  width: 100%;
  z-index: -2;
  transition: transform .15s;
}

.transition-button:hover {
  color: #423542;
}

.transition-button:hover::after {
  transform: translateY(100%);
  transition: transform .15s;
}
