html { 
  height: 100%;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  background: #423542;
  color: #836475;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-bottom: 6rem;
  min-height: 95%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .color1 {color: #211d25;} */
/* .color2 {color: #2e2730;} */
/* .color3 {color: #423542;} */
/* .color4 {color: #5e4a58;} */
/* .color5 {color: #836475;} */
